<img src="../../../assets/img/banner.jpg" class="banner" alt="" />
<div class="container">
  <div class="channel">
    <img
      class="avatar"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRoU5G39EWaDbS_ObkM2OXpyZ6xQZwWokf05w&usqp=CAU"
      alt="logo"
    />
    <div class="channel-name-subs">
      <p>mi canal</p>
      <small>5M subscriptores</small>
    </div>
    <div class="mx-auto"></div>
    <button class="subscribe" mat-flat-button color="warn">
      Subscribete
    </button>
  </div>
  <div class="tab">
    <mat-tab-group animationDuration="350ms">
      <mat-tab label="Pagina Principal">Pagina Principal</mat-tab>
      <mat-tab label="Videos">Videos</mat-tab>
      <mat-tab label="Canales">Canales</mat-tab>
      <mat-tab label="Información">Información</mat-tab>
    </mat-tab-group>
  </div>
</div>
