<div class="d-flex">
  <p class="mt-1">Siguiente Video</p>
  <div style="flex-grow: 1;"></div>
</div>
<div class="d-flex mt-3" *ngFor="let video of later">
  <div class="content">
    <img class="link" onerror="this.src='../../../assets/img/thumbnail.jpg'" src="{{ video.img }}"
      [routerLink]="['/watch/'+video.id]" alt="" />
    <span class="time">{{ video.tiempo }}</span>
  </div>
  <div class="side-content pl-2">
    <p class="mainlink" [routerLink]="['/watch/'+video.id]">{{ video.nombre }}</p>
    <p [routerLink]="['/channel/'+video.user_id]" class="channel link">{{ video.name }}</p>
    <p class="channel">
      {{ video.views }} vistas.
      <span class="ml-1">{{ video.created_at }}</span>
    </p>
  </div>
</div>
<mat-divider class="mt-3"></mat-divider>
<div>
  <div class="d-flex mt-3" *ngFor="let video of videos">
    <div class="content">
      <img class="link" onerror="this.src='../../../assets/img/thumbnail.jpg'" src="{{ video.img }}"
        [routerLink]="['/watch/'+video.id]" alt="" />
      <span class="time">{{ video.tiempo }}</span>
    </div>
    <div class="side-content pl-2">
      <p class="mainlink" [routerLink]="['/watch/'+video.id]">{{ video.nombre }}</p>
      <p [routerLink]="['/channel/'+video.user_id]" class="channel link">{{ video.name }}</p>
      <p class="channel">
        {{ video.views }} vistas.
        <span class="ml-1">{{ video.created_at }}</span>
      </p>
    </div>
  </div>
</div>
