<mat-toolbar color="primary" class="example-toolbar" *ngIf="visible || !BP.isXS">
  <button mat-icon-button (click)="navService.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img [routerLink]="['']" class="ml-lg-3 h-50 mr-1 link" src="../../../assets/logo.png" alt="" />
  <p [routerLink]="['']" class="link">Univalle</p>
  <span [routerLink]="['']" matBadge="V2" matBadgeColor="primary" matBadgeSize="small" matBadgeOverlap="false"
    class="mb-3 mr-3 link"></span>
  <div class="w-100 d-flex justify-content-center" *ngIf="!BP.isXS">
    <input value="{{ query }}" [(ngModel)]="query" class="p-2" [class.w-100]="BP.isMD || BP.isSM" type="search"
      placeholder="Buscar" />
    <mat-icon class="icon" (click)="search()">search</mat-icon>
  </div>

  <div class="ml-auto">
    <button class="search-btn" mat-icon-button (click)="open()" *ngIf="BP.isXS">
      <mat-icon>search</mat-icon>
    </button>
    <button [routerLink]="['/upload']" mat-icon-button>
      <mat-icon>video_call</mat-icon>
    </button>


    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="!visible && BP.isXS">
  <div class="w-100 d-flex justify-content-center">
    <button mat-icon-button (click)="open()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <input class="p-2 mt-1 w-100" type="text" placeholder="Search" />
    <mat-icon class="icon mt-1">search</mat-icon>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu" class="menu">
  <button [routerLink]="['/channel']" mat-menu-item>
    <mat-icon>account_box_icon</mat-icon>
    <span>Mi Canal</span>
  </button>
  <button (click)="logout()" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>
