<div class="containers">
  <div class="row mt-4">
    <div class="col-lg-8 col-md-6 col-sm-12">
      <div class="video">
        <vg-player (onPlayerReady)="onPlayerReady($event)">
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>

          <vg-scrub-bar
            [vgSlider]="true"
            style="background-color: rgba(245, 245, 245, 0.034); height: 3px;"
          >
            <vg-scrub-bar-current-time
              [vgSlider]="true"
              class="progress-bar"
            ></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time
              class="buffer-bar"
            ></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>

          <vg-controls
            [vgAutohide]="false"
            [vgAutohideTime]="1"
            style="
              background-color: transparent;
              font-size: 13px;
              font-family: roboto;
              font-weight: 400;
            "
          >
            <vg-play-pause></vg-play-pause>
            <vg-mute class="volume"></vg-mute>
            <vg-volume class="volume-slider"></vg-volume>
            <vg-time-display
              vgProperty="current"
              vgFormat="mm:ss"
            ></vg-time-display>
            <span style="color: white; margin-top: 15px;">/</span>
            <vg-time-display
              vgProperty="total"
              vgFormat="mm:ss"
            ></vg-time-display>

            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

            <vg-playback-button></vg-playback-button>
            <vg-track-selector></vg-track-selector>
            <!-- <vg-quality-selector> </vg-quality-selector> -->
            <vg-fullscreen></vg-fullscreen>
          </vg-controls>

          <video
            [vgMedia]="media"
            #media
            id="singleVideo"
            preload="auto"
            crossorigin="anonymous"
            autoplay
          >
            <source
            id="sourceVideo"
              src="{{ url }}video/stream/{{ video.id }}"
              type="video/mp4"
            />
          </video>
        </vg-player>
      </div>
      <div class="bottom">
        <p class="title">
          {{ video.nombre }}
        </p>
        <div class="d-flex">
          <p class="views">{{ video.views }} vistas • {{ video.created_at }}</p>
          <div style="flex-grow: 1;"></div>
          <div class="like-dislike">
            <button mat-icon-button (click)="like(video.id)">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <span>{{ video.likes }}</span>
            <button mat-icon-button (click)="dislike(video.id)">
              <mat-icon>thumb_down</mat-icon>
            </button>
            <span>{{ video.dislikes }}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="mt-3">
          <div class="d-flex">
            <img class="link" [routerLink]="['/channel/'+video.user_id]"
              class="avatar"  alt="User" onerror="this.src='../../../assets/img/user.jpg'"
              src="{{ video.profile }}"
              alt=""
            />
            <div id="channel" style="display: flex; flex-direction: column;">
              <span class="link" [routerLink]="['/channel/'+video.user_id]">{{ video.name }}</span>
              <p>{{ subs }} subscriptores</p>
            </div>
            <div style="flex-grow: 1;"></div>
            <button *ngIf="state == 1" class="subscribe" (click)="subscribe(video.user_id)" mat-flat-button color="warn">
              Subscribete
            </button>

            <button *ngIf="state == 2" class="subscribe" (click)="desubscribe(video.user_id)" mat-flat-button color="accent">
              Desubscribete
            </button>
            
          </div>
        
          <div class="description">
       {{ video.descripcion }}    
          </div>
          <mat-divider class="comment-divider"></mat-divider>
          <span>{{ comments_count }} Comentarios</span>
        </div>
     
        <div class="mt-3 d-flex">
          <img
            class="avatar-sm"
            onerror="this.src='../../../assets/img/user.jpg'"
            src="{{ user.profile }}"
            alt=""
          />
          <form class="w-100" #fc="ngForm" (ngSubmit)="CommentSubmit(fc)">
            <input matInput name="id_video" ngModel #id_video="ngModel"/>
            <mat-form-field
              class="w-100 ml-3"
              style="font-size: 13px; color: black;"
              floatLabel="never"
            >
              <mat-label>Añadir un comentario publico...</mat-label>
              <input matInput name="comment_text" ngModel #comment_text="ngModel"/>
            </mat-form-field>
            <div class="comment-btn-group">
              <button mat-flat-button color="primary" class="submit ml-1">
                Comentar
              </button>
            </div>
          </form>
        </div>
      <div class="mt-4 d-flex"  *ngFor="let comment of comments">
        <img
          class="avatar-sm"  alt="User" 
          onerror="this.src='../../../assets/img/user.jpg'"
          src="{{ comment.profile }}"
          alt=""
        />
        <div class="d-flex flex-column">
          <p class="name"><strong>{{ comment.name }}</strong> • {{ comment.created_at }}</p>
          <p class="pin-comment">
            {{ comment.texto }}
          </p>
          <div class="d-flex mt-1 comment-like">
            <button mat-icon-button>
              <mat-icon>thumb_up</mat-icon>
            </button>
            <p>{{ comment.likes }}</p>
            <button mat-icon-button>
              <mat-icon>thumb_down</mat-icon>
            </button>
            <p>{{ comment.dislikes }}</p>
           
          </div>
          
        </div>
      </div>
    </div></div>
    <div class="col-lg-4 col-md-6 col-sm-12 side">
      <app-video-related [later]=later [videos]=videos></app-video-related>
    </div>
  </div>
</div>
